<a href="https://colab.research.google.com/github/rafaelaquinoo/Linear-Algebra-58019/blob/main/linear_algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Algebra Programming Demo 1

In [ ]:
x = 1 

print (x)

1

In [ ]:
x = 1
b = "Sally"

print (b)

Sally

In [ ]:
x = 1 
b = "Sally"

print(x)
print(b)

1
Sally

In [ ]:
x = int(1.75)
b = "Sally"

print(x)

1

In [ ]:
x = float(1.75)
b = "Sally"

print(x)

1.75

In [ ]:
x = float(1)
b = "Sally"

print(x)

1.0

In [ ]:
x = float(1)
b = "Sally"

print (type(x))

<class 'float'>

In [ ]:
x = float(1)
b = "Sally"

print(type(x))
print(type(b))

<class 'float'>
<class 'str'>

In [ ]:
x = float(1)
b = "Sally"
c = "John"

print(type(x))
print(type(b))
print(type(c))

<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
a = 4
A = "Sally"

print (a)
print (A)

4
Sally

In [ ]:
x,y,z = "one", "two", "three"

print (x)
print (y)
print (z)

one
two
three

In [ ]:
x=y=z="four"

print(x)
print(y)
print(z)

four
four
four

In [ ]:
x = "enjoying"
print("Python programming is" " " + x)

Python programming is enjoying

In [ ]:
x = 1 
y = 2
print (x+y)

3

In [ ]:
c = 5
c+=2 #This is the same as c = c+2
print(c)

7

In [ ]:
c = 5
c+=2 #This is the same as c = c+2
x = 6
x%= 3
print(c)
print(x)

7
0

In [ ]:
c = 5
c+=2 #this is the same as c = c+2
x = 6
x%=3 #This is the same as x = x%3
print(c)
print(x)

7
0

In [ ]:
x = 5
y = 7
x>4 and y<8

True

In [ ]:
c = 5
c+=2 #This is the same as c = c+2
x = 6
x%=3 #This is the same as x = x%3
print(c)
print(x)

7
0

In [ ]:
x = 5
y = 7
x>4 and y<8

True